/devils_paradise.mgm
/golden_spots.mgm
/long_way_ahead.mgm
/mountain_pass.mgm
/newland.mgm
/pathfinder.mgm
/pizza_pie_island.mgm
/random_hill.mgm
/ravine_crossing.gbm
/river_of_tears.mgm
/strip_mining.mgm
/teeth_of_terror.mgm
/wild_lands.mgm
/caution_landscape.mgm
/cliff_way.mgm
/path_to_war.mgm
/trapped.mgm
